<div class="row">

  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <br>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <br>
      
      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <br>
      
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <br>
      
      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>

      <br>

      <div class="field">
        <label>
          Your public key: <br><%= resource.public_key%>
        </label>
        <br>
        <label>
          Your private key: <br><%= resource.private_key%>
        </label>
      </div>

      <br>
      
      <div class="actions">
        <%= f.submit "Update", class: "form-control btn-primary" %>
      </div>
    <% end %>

    <br>
    <br>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "form-control btn-primary" %></p>

    <%= link_to "Back", :back %>
  </div>

  <div class="col-md-4">
  </div>

</div>