<div class="row">

  <div class="col-md-4">
  </div>

  <div class="col-md-4 text-center">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <br>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <br>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <br>

      <div class="actions">
        <%= f.submit "Sign up", class: "form-control" %>
      </div>
    <% end %>

    <br>

    <%= render "devise/shared/links" %>
  </div>

  <div class="col-md-4">
  </div>

</div>