<br>
<%= form_tag("/get_parameters", :method => "post") do |f| %>
  	<div class="form-group">
   		<label for="archivo">Archivo a subir:</label>
    	<input type="file" class="form-control" id="archivo" name="doc">
  	</div>
  	<% public_key = @user.public_key.sub("-----BEGIN PUBLIC KEY-----", "") %>
  	<% public_key = public_key.sub("-----END PUBLIC KEY-----", "") %>
  	<input type="hidden" name="pub_key" value="<%= public_key%>">
  	<br>
  	<button type="submit" class="btn btn-primary">Enviar archivo</button>
<% end %>