<% if @documents.present? %>
  <div class="row">
    <% @documents.each do |document| %>
      <div class="col-md-4">
        <%= document.name %>
        <%= document.state %>
      </div>
    <% end %>
  </div>
<% else %>
  <br>
  <h5> No se han encontrado documentos para consultar</h5>
<% end %>

<%= form_tag("/search", :method => "get") do |f| %>
  <% public_key = @user.public_key.sub("-----BEGIN PUBLIC KEY-----", "") %>
  <% public_key = public_key.sub("-----END PUBLIC KEY-----", "") %>
  <input type="hidden" name="pub_key" value="<%= public_key %>">
  <button type="submit" class="btn btn-primary">Buscar documentos</button>
<% end %>

