<div class="row">

  <div class="col-md-4">
  </div>

  <div class="col-md-4 text-center">
    <h2>Iniciar sesión</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <br>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <br>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <br>

      <div class="actions">
        <%= f.submit "Log in", class: "form-control" %>
      </div>
    <% end %>

    <br>

    <%= render "devise/shared/links" %>
  </div>

  <div class="col-md-4">
  </div>

</div>